.steps {
	width: 275px;
	height: 600px;
	padding: 2.5rem 2rem;
	background-image: url(../../../public/assets/images/bg-sidebar-desktop.svg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 1rem;
}
